<h1>Company</h1>
<form>
<div class="form-group">
<label for="name">
  Name</label>
  {{input class="form-control" id="name" value=company.name placeholder="Enter Company Name"}}
</div>
<div class="form-group">
<label for="logo">
  Logo</label>
  {{input type="file" class="form-control" id="logo" value=company.logo }}
</div>
<div class="form-group">
<label for="url">
  URL</label>
  {{input class="form-control" id="url" value=company.url placeholder="Enter Company URL"}}
</div>


<button id="save" class="btn btn-default"
        {{action "save"}}
        disabled={{isSaving}}>
  {{#if isSaving}}
    Saving
  {{else}}
    Save
  {{/if}}
</button>
</form>