<h1>Job</h1>

<label name="title">
  Title
  {{input value=job.title}}
</label>
<label name="type">
  Type
  {{input value=job.type}}
</label>
<label name="description">
  description
  {{input value=job.description}}
</label>
<label name="company">
Company
{{input }}
</label>

{{#rl-dropdown-container class="dropdown"}}
  {{#rl-dropdown-toggle class="btn btn-default"}}
    Toggle <span class="caret"></span>
  {{/rl-dropdown-toggle}}
 
  {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
  {{#each loc in location}}
  <li>{{loc.city}}</li>
  {{/each}}
  {{/rl-dropdown}}
{{/rl-dropdown-container}}
<br>
{{#rl-dropdown-container class="dropdown"}}
  {{#rl-dropdown-toggle class="btn btn-default"}}
    Toggle <span class="caret"></span>
  {{/rl-dropdown-toggle}}
 
  {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
  {{#each comp in company}}
  <li>{{comp.name}}</li>
  {{/each}}
  {{/rl-dropdown}}
{{/rl-dropdown-container}}


<button id="save"
        {{action "save"}}
        disabled={{isSaving}}>
  {{#if isSaving}}
    Saving
  {{else}}
    Save
  {{/if}}
</button>
