<h1>Job</h1>

<label name="title">
  Title
  {{input value=job.title}}
</label>
<label name="type">
  Type
  {{input value=job.type}}
</label>
<label name="description">
  description
  {{input value=job.description}}
</label>
<label name="company">
Company
{{view "select" content=company prompt="Please select a company " optionValuePath="company.id"
       optionLabelPath="company.name"  }}
</label>

<label name="location">
Location
{{view "select" content=location prompt="Please select a location " optionValuePath="location.id"
       optionLabelPath="location.name"  }}
</label>
<br>


<button id="save"
        {{action "save"}}
        disabled={{isSaving}}>
  {{#if isSaving}}
    Saving
  {{else}}
    Save
  {{/if}}
</button>
