<h1>Job</h1>

<label name="title">
  Title
  {{input value=job.title}}
</label>
<label name="type">
  Type
  {{input value=job.type}}
</label>
<label name="description">
  description
  {{input value=job.description}}
</label>
<label name="company">
  Company
  {{view "select" 
    content=company 
    value=job.company 
    prompt="Please select a company " 
    optionValuePath="content"
    optionLabelPath="content.name" }}
</label>

<label name="location" class="dskjaf">
  Location
  {{view "select" 
    content=location
    value=job.location 
    prompt="Please select a location " 
    optionValuePath="content"
    optionLabelPath="content.city" }}
</label>
<br>


<button id="save"
        {{action "save"}}
        disabled={{isSaving}}>
  {{#if isSaving}}
    Saving
  {{else}}
    Save
  {{/if}}
</button>
